.App {
  min-height: 100vh;
  background-color: rgb(30, 77, 144);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signuploginForm {
  width: 30%;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: white;
}

#rememberMe {
  border: 2px solid gray;
}

.signuploginButton {
  width: 100%;
  background-color: rgb(31, 77, 145);
  color: white;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
}

.billingPage {
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

.bold {
  font-weight: bold;
}

.subType {
  display: flex;
  background-color: rgb(31, 77, 145);
  color: white;
  border-radius: 100px;
  padding: 10px;
}

.opt1,
.opt2 {
  border-radius: 100px;
  padding: 10px 0px 10px 0px;
}

.optSelected {
  background-color: white;
  color: rgb(31, 77, 145);
}

.opt1:hover,
.opt2:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
  color: rgb(31, 77, 145);
}

.Type {
  background-color: rgba(31, 77, 145, 0.5);
  color: white;
  padding: 40px 0px 40px 0px;
}

.TypeSelected {
  background-color: rgb(31, 77, 145);
  color: white;
}

.Type:hover {
  cursor: pointer;
  background-color: rgb(31, 77, 145);
  color: white;
}

.protrusion {
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: rgb(31, 77, 145);
}

.center {
  margin-left: 40%;
}

hr {
  margin-left: 3% !important;
  width: 85%;
}

.proceedToPaymentButton {
  width: 40%;
  background-color: rgb(31, 77, 145);
  color: white;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
}

.strong {
  font-weight: bold;
}

.cardDetails {
  background-color: rgba(255,255,255,1);
  padding: 50px 25px 50px 25px !important;
  border-radius: 10px 0px 0px 10px;
}

.summary {
  background-color: rgba(255,255,255,0.9);
  padding: 50px 25px 50px 25px !important;
  border-radius: 0px 10px 10px 0px;
}

.paymentFormControl {
  border-color: rgba(0,0,0,0) !important;
  box-shadow: 0 0 5px rgba(0,0,0,0) !important;
}

.paymentFormControl:focus {
  border-color: rgba(0,0,0,0) !important;
  box-shadow: 0 0 5px rgba(0,0,0,0) !important;
}

.paymentDetailsGroup {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
}

.confirmPaymentButton {
  width: 40%;
  background-color: rgb(31, 77, 145);
  color: white;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
}

.fR {
  float: right;
}

.accSubscription {
  width: 40%;
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  padding: 0px 25px 0px 25px !important;
}

.planActive {
  background-color: rgba(31, 77, 145, 0.5);
  color: rgb(31, 77, 145);
  font-weight: bold;
  width: 55%;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
}

.planCancelled {
  background-color: rgba(145, 31, 61, 0.5);
  color: rgb(145, 31, 31);
  font-weight: bold;
  width: 75%;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.currentPlan {
  font-size: 25px;
}

.planName {
  font-size: 15px;
}

.devices {
  font-size: 13px;
}

.currentFee {
  font-size: 30px;
}

.changePlanButton {
  width: 25%;
  background-color: white;
  color: rgb(31, 77, 145);
  padding: 2px 0px 2px 0px;
  border-radius: 5px;
  font-weight: bold;
  border-color: rgb(31, 77, 145) !important;
}

.cancelPlanButton {
  text-decoration: none;
  border: none;
  background-color: rgba(255,255,255,0);
  color: rgb(31, 77, 145);
  font-weight: bold;
  float: right;
}